.input {
  @apply bg-dt-grey-1;
  @apply p-4;
  @apply min-w-[248px];
  @apply text-[16px] text-dt-grey-6;
  line-height: 22px;
  font-weight: 400;
  @apply rounded-md;
  @apply border-none;
}

.input::placeholder {
  @apply text-dt-grey-5;
}

.input:active,
.input:focus {
  @apply border-2 border-dt-green-light;
  outline: 1px solid #00b37e;
}

.input-error {
  outline: 1px solid #f75a68 !important;
}

.formik-input {
  @apply flex flex-col gap-2;
}

.formik-input > label {
  @apply flex flex-col gap-2;
}

.formik-input > .error {
  @apply text-dt-red;
}
