.wrapper {
  width: fit-content;
}

.wrapper input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.wrapper > label {
  display: flex;
  align-items: center;
  justify-content: center;
  @apply gap-2;
  @apply bg-dt-grey-3;
  @apply text-dt-grey-6;
  width: 211.5px;
  @apply px-6 py-4;
  font-family: sans-serif, Arial;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  border-radius: 6px;
  @apply cursor-pointer;
}

.wrapper > img {
  width: 24px;
  height: 24px;
}

.wrapper > label:hover {
  @apply bg-dt-grey-4;
}

.wrapper > input[type="radio"]:checked.variant-up + label {
  @apply bg-dt-green-dark;
  color: white;
}

.wrapper > input[type="radio"]:checked.variant-down + label {
  @apply bg-dt-red-dark;
  color: white;
}