.ReactModal__Overlay {
  overflow: hidden;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  border: none !important;
  @apply bg-dt-grey-2 !important;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 48px !important;
  width: 528px;
  height: 480px;
  margin: auto;
}