.user-details {
  @apply container mx-auto;
  @apply flex items-center justify-between;
  @apply gap-4;
  @apply z-10;
}

.user-details > * {
  width: auto;
  width: -webkit-fill-available;
}

.user-detail-header {
  @apply flex items-center justify-between;
}

.user-detail-header :first-child {
  @apply text-dt-grey-6 text-[16px];
}

.user-detail-body {
  @apply flex items-end justify-start;
  @apply flex-grow;
  @apply text-white text-4xl;
}

@media screen and (max-width: 1280px) {
  .user-details {
    @apply flex flex-col items-center;
    width: initial;
  }
}

@media screen and (max-width: 1024px) {
  .user-details {
    @apply flex flex-col items-center;
  }
}

@media screen and (max-width: 680px) {
  .user-details {
    @apply mx-8;
    width: initial;
  }
}
