table {
  display: flex;
  flex-direction: column;
}

table > .table-header {
  @apply flex flex-row items-center justify-between;
}

table > tr {
  display: flex;
  flex: 1;
  @apply text-dt-grey-6;
  @apply items-center justify-between;
  @apply rounded-[5px];
  @apply bg-dt-grey-3;
  @apply px-8 py-5;
  @apply mb-2;
}

table > tr > td {
  text-align: start;
}

.table-row-edit {
  display: flex;
  flex: 1;
  flex-direction: row;
  @apply gap-4;
}

.table-row-edit > * {
  cursor: pointer !important;
}

.table-row-edit > button {
  all: unset;
}

.table-empty-box {
  display: flex;
  @apply rounded-[6px];
  @apply bg-dt-grey-3;
}

.table-empty-box,
.table-empty-box > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply py-8;
  @apply text-dt-grey-5;
}

table > tr > td.price-input {
  @apply text-dt-green;
}

table > tr > td.price-output {
  @apply text-dt-red-dark;
}

.transaction-table {
  @apply container mx-auto;
  @apply table items-center justify-around;
  @apply mt-6 pb-8;
}

.table-item-description {
  @apply w-4/12;
  text-align: start;
}

.table-item-price,
.table-item-date {
  @apply w-2/12;
  text-align: start;
}

.table-item-category {
  @apply w-3/12;
  text-align: start;
}

.table-item-edit {
  @apply w-1/12;
  text-align: start;
}
