table {
  display: flex;
  flex-direction: column;

  &.table-header {
    @apply flex flex-row items-center justify-between;
  }

  tr {
    display: flex;
    flex: 1;
    @apply text-dt-grey-6;
    @apply items-center justify-between;
    @apply rounded-[5px];
    @apply bg-dt-grey-3;
    @apply px-8 py-5;
    @apply mb-2;

    td {
      text-align: start;

      &.price-input {
        @apply text-dt-green;
      }

      &.price-output {
        @apply text-dt-red-dark;
      }
    }
  }
}

.table-row-edit {
  display: flex;
  flex: 1;
  flex-direction: row;
  @apply gap-4;

  * {
    cursor: pointer !important;
  }

  button {
    all: unset;
  }
}

.table-empty-box {
  display: flex;

  @apply rounded-[6px];
  @apply bg-dt-grey-3;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply py-8;
    @apply text-dt-grey-5;
  }
}

@media screen and (max-width: 680px) {
  table > tr {
    @apply flex flex-col;
    @apply items-start;
    @apply gap-3;
  }
}

.transaction-table {
  @apply container mx-auto;
  @apply table items-center justify-around;
  @apply mt-6 pb-8;
}

.table-item-description {
  @apply w-4/12;
  text-align: start;
}

@media screen and (max-width: 680px) {
  .table-item-description {
    @apply font-bold text-2xl;
  }
}

.table-item-price,
.table-item-date {
  @apply w-2/12;
  text-align: start;
}

.table-item-category {
  @apply w-3/12;
  text-align: start;
}

.table-item-edit {
  @apply w-1/12;
  text-align: start;
}

@media screen and (max-width: 680px) {
  table {
    @apply mx-8;
    width: initial;
  }
}
