.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

form,
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  width: 100%;
}

.wrapper > h2 {
  font-size: 24px;
  line-height: 33.8px;
  font-weight: 700;
  color: white;
  margin-bottom: 32px;
}

form > .input-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

form > .select-group > span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
}

form > .select-group > span > div {
  @apply w-full;
}

.select-group > .error {
  @apply text-dt-red;
}

form > button {
  display: flex;
}

form > .select-group > span > div > .wrapper > label {
  @apply w-auto;
}

@media screen and (max-width: 600px) {
  form > .select-group > span {
    @apply flex flex-col;
  }
}
